<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>闪码--登录</title>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
</head>
<style>
    /*.container{*/
    /*width: 60%;*/
    /*margin-left: 20%;*/
    /*}*/
    .container{
        width: 40%;
        margin-left: 30%;
    }
    .header{
        width: 100%;
        max-height: 200px;
        overflow: hidden;
    }

    .container{
        padding: 20px;
        position: relative;
    }
    .headerImg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
    }
    h2{
        text-align: center;
    }
    .row{
        margin-top: 20px;
    }
    .item-icon{
        font-size: 2rem;
        line-height: 1.5;
        color: #269abc;
    }
    .signup-container {
        max-width: 570px;
        padding: 25px 74px;
        margin: 2% auto 0;
        background-color: #f5f7f9;
    }
    .signin-btn{
        width:100%;
    }
    .loginContainer{
        width: 100vw;
        height: 100vh;
        display: flex;
        vertical-align: middle;
        align-items: center;
    }

    @media screen and (max-width:600px){
        .container{
            width:90%;
            margin-left: 5%;
        }
        .signup-container{
            /*width:90%;*/
            /*margin-left: 5%;*/
        }
        #imgCode{
            width: 100%;
        }
        .signup-container {
            padding: 10px 0;
        }
    }

</style>
<body>
<!--<div class="header">-->
<!--<img src="/image/home01.png" alt="" class="headerImg">-->
<!--</div>-->
<div class="loginContainer">
    系统维护中，请稍后
</div>






</body>
</html>
