<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>微信扫一扫</title>
    <style>
        *{margin: 0;padding: 0;}
        /*body{background: #000;}*/
        /*img{*/
            /*height: 500px;*/
            /*width: 500px;*/
            /*position: absolute;*/
            /*left: 50%;*/
            /*top: 50%;*/
            /*margin-left: -250px;*/
            /*margin-top: -250px;*/
        /*}*/
        .imgContainer{
            position: relative;
            width: 100%;
            height: 200px;
            margin-top: 50px;
        }
        #rImg{
            position: absolute;
            left: 50%;
            transform: translateX(-100px);
            width: 200px;
            height: 200px;

        }
        .codeImg{
            position: absolute;
            left: 50%;
            transform: translateX(-100px);
            width: 200px;
            height: 200px;
        }
        .userCheck{
            margin-top: 20px;
        }
        .userImgContainer{
            margin-top: 10px;
        }
        .userImgItem{
            display: inline-block;
            width: 50px;

            margin: 4px;
        }
        .userImg{
            width: 100%;
        }
        canvas{
            display: none;
            position: absolute;
            left: 50%;
            transform: translateX(-100px);
            width: 200px;
            height: 200px;

        }
        .codeImg{
            position: absolute;
            left: 50%;
            transform: translateX(-100px);
            width: 200px;
            height: 200px;
        }
    </style>

</head>

<body>
<div style="margin-top: 40px;">
    <p style="text-align: center">闪码</p>
    <!--<div>-->
        <!--<img class="codeImg" src="/image/test.gif" alt="">-->
    <!--</div>-->
    <p style="text-align: center;margin-top: 10px;">更换二维码剩余时间：<span id="time">15</span>s</p>
</div>
<div class="imgContainer">

    <div>
        <!--/image/erw/dconTest/01.png-->
        <div id="codeContainer">
            <div id="code"></div>
        </div>
        <!--<img id="rImg" class="codeImg" src=""/>-->
    </div>
</div>
<p id="tips" style="text-align: center;color: #0b52a2;margin-top: 10px;"></p>
<div class="userCheck">
    <div><p style="margin: 20px 0 20px 10px">以下用户已完成存证：</p></div>
    <div class="userImgContainer">
        <% result.forEach(function (item) { %>
        <div class="userImgItem">

            <img src=<%= item.url %> alt="头像" class="userImg">
        </div>
        <% }) %>
    </div>

</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/lrsjng.jquery-qrcode/0.14.0/jquery-qrcode.min.js"></script>

<script>
    $().ready(function () {
        init()
        code();
        getTips();
//        newpic();
    })
    function init () {
        getCode();
    }
    function newpic(){

        var imgList = ['01.png','02.png','03.png','04.png','05.png','06.png','07.png','08.png','09.png','10.png','11.png','12.png','13.png','14.png','15.png','16.png','17.png','18.png','19.png','20.png'];
        //获取1到10之间的随机数
        var imgType = ['dconTest','inuTest','nrcTest'];
        function getRandom(a,b){
            var random = Math.floor(Math.random()*b+a);
            return random;
        }
        var itemRandom = getRandom(0,imgList.length);
        var item = imgList[itemRandom];
        var typeRandom = getRandom(0,imgType.length);
        var type = imgType[typeRandom];
        var img = document.getElementById("rImg");
        console.log(itemRandom,typeRandom)
        img.src= `/image/erw/${type}/${item}`
    }
    function getCode() {
        var time = 15;
        setInterval(function () {
            time--;
            $('#time').text(time);
            if(time === 0) {
                time = 15;
                code();
                getTips();
            }
        },1000);
    }
    //获取二维码信息
    function code() {
           $.ajax({
               method:'POST',
               url:'/home/getCodeMessage',
               data:{},
               success:function (res) {
//                   console.log(res.result);
//                   s=HweOKK2CcM1vCDtAm6/Mg5hN2YzX+F1zCh3XnBein57xfoiF7UemhSlnzzWDr9w/pBaHrZBo1XzPS05NV/PJ948=&o=id:18419&id=18419&a=1BtvWKc9bdReVcP74WngsmuRiJrkjUiBNc
                   let codeMessage = `s=${res.result.signMessage}&o=${res.result.originMessage}&id=${res.result.codeId}&a=${res.result.address}`;
                   createCode(codeMessage)
               },
               error:function (error) {
                   console.log(error);
               }
           })
    }

    //生成二维码
    function createCode(message) {
//        let url = 'https://nrc.one/codeT'

        let url02 = 'https://reitschain.com/co'
//        $('#codeContainer').append("<div id='code"+index+"'></div>")
//        $('#code'+index).text(`${url02}?${message}` )
        $('#code').empty();
        $('#code').qrcode({
            render:"canvas",
            width:100,
            height:100,
            background: "#FFF",
            text:`${url02}?${message}`
        })
        getCanvas();
    }

    function convertCanvasToImage(canvas) {

        var image = new Image();

        image.src = canvas.toDataURL("image/png");
        image.className = 'codeImg'
        return image;
    }
    function getCanvas() {
        var mycanvas1=document.getElementsByTagName('canvas')[0];

        var img=convertCanvasToImage(mycanvas1);
        $('#code').append(img);
    }
    function getRandom(a,b){
        var random = Math.floor(Math.random()*b+a);
        return random;
    }
    //随机tips
    var tips = ['这张二维码具有区块链级别的安全性','这种二维码未来将会和产品包装在一起销售','扫一扫，真货将会获得厂家发行的区块链积分','扫码既防伪，不再有钱包，密钥，12字符的困扰','获得厂家积分，可以打折，促销，参加厂家的各种活动']
    function getTips() {
        var itemRandom = getRandom(0,tips.length);
        var item = tips[itemRandom];
        $('#tips').text(item);
    }


</script>
</body>

</html>