<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>微信扫一扫</title>
    <style>
        *{margin: 0;padding: 0;}
        /*body{background: #000;}*/
        /*img{*/
        /*height: 500px;*/
        /*width: 500px;*/
        /*position: absolute;*/
        /*left: 50%;*/
        /*top: 50%;*/
        /*margin-left: -250px;*/
        /*margin-top: -250px;*/
        /*}*/
        .imgContainer{
            position: relative;
            width: 100%;
            height: 200px;
            margin-top: 50px;
        }
        .imgContainerCover{
            position: absolute;
            width: 100%;
            height: 100%;
            background: black;
            z-index: 999;
            display: flex;
            flex-direction:column;
            align-items: center;
            vertical-align: middle;
        }
        .btn{
            margin-top: 20px;
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
        }
        #rImg{
            position: absolute;
            left: 50%;
            transform: translateX(-100px);
            width: 200px;
            height: 200px;

        }
        .codeImg{
            position: absolute;
            left: 50%;
            transform: translateX(-100px);
            width: 200px;
            height: 200px;
        }
        .userCheck{
            margin-top: 20px;
        }
        .userImgContainer{
            margin-top: 10px;
        }
        .userImgItem{
            /*            display: inline-block;
            */
            width: 100%;
            max-width: 350px;
            margin: 0 auto;
        }
        .userImg{
            width: 50px;
            margin: 4px;
        }
        canvas{
            display: none;
            position: absolute;
            left: 50%;
            transform: translateX(-100px);
            width: 200px;
            height: 200px;

        }
        .codeImg{
            position: absolute;
            left: 50%;
            transform: translateX(-100px);
            width: 200px;
            height: 200px;
        }

        @media screen  and (min-width: 720px){
            .userImgItem{
                max-width: 100%;
            }
        }
    </style>

</head>

<body>
<div style="margin-top: 40px;">
    <p style="text-align: center">进入官网</p>
    <p style="text-align: center;margin: 10px 0"><a href="https://code.reitschain.com/" style="color: #3a9eff">闪码，通过区块链防伪技术助力实体企业腾飞</a></p>
    <!--<div>-->
    <!--<img class="codeImg" src="/image/test.gif" alt="">-->
    <!--</div>-->
    <p style="text-align: center;margin-top: 10px;">更换二维码剩余时间：<span id="time">15</span>s</p>
</div>
<div class="imgContainer">
    <div class="imgContainerCover">

            <p style="width: 100%; color: white;text-align: center">Tell me who are you:</p>
            <input type="text" style="margin-top: 20px" id="psd"/>
            <button id="confirmPsd" type="button" class="btn ">确定</button>
    </div>
    <div>
        <!--/image/erw/dconTest/01.png-->
        <div id="codeContainer">
            <div id="code"></div>
        </div>
        <!--<img id="rImg" class="codeImg" src=""/>-->
    </div>
</div>
<div style="padding: 0 20px;margin-top: 20px;">
    <p id="tips" style="font-size: 20px;color: red;text-align: center;width: 100%"></p>
</div>
<!--<div style="margin: 10px 0;display: flex;align-items: center;vertical-align: middle;flex-direction: column">-->

    <!--<img src="/image/erw/public.jpg" alt="公众号二维码" style="max-width: 200px;display: block">-->


    <!--<p style="margin: 10px 0;text-align: center;">扫码关注“链未来”公众号获取更多资讯</p>-->

<!--</div>-->
<div class="userCheck">
    <div><p style="margin: 20px 0 20px 10px">以下用户已完成存证：</p></div>
    <div class="userImgContainer">
        <div class="userImgItem"></div>
    </div>

</div>

<!--<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>-->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/jquery.qrcode.min.js"></script>
<!--<script src="https://cdn.bootcss.com/lrsjng.jquery-qrcode/0.14.0/jquery-qrcode.min.js"></script>-->

<script>
    var allength ;
    $().ready(function () {
        init()
        code();
        getTips();
//        newpic();
    })
    function init () {
        getCode();
    }
    function newpic(){

        var imgList = ['01.png','02.png','03.png','04.png','05.png','06.png','07.png','08.png','09.png','10.png','11.png','12.png','13.png','14.png','15.png','16.png','17.png','18.png','19.png','20.png'];
        //获取1到10之间的随机数
        var imgType = ['dconTest','inuTest','nrcTest'];
//        function getRandom(a,b){
//            var random = Math.floor(Math.random()*b+a);
//            return random;
//        }
        var itemRandom = getRandom(0,imgList.length);
        var item = imgList[itemRandom];
        var typeRandom = getRandom(0,imgType.length);
        var type = imgType[typeRandom];
        var img = document.getElementById("rImg");
        console.log(itemRandom,typeRandom)
        img.src= `/image/erw/${type}/${item}`
    }
    function getCode() {
        var time = 15;
        setInterval(function () {
            time--;
            $('#time').text(time);
            if(time === 0) {
                time = 15;
                code();
                getTips();
            }
        },1000);
    }
    //获取二维码信息
    function code() {
        $.ajax({
            method:'POST',
            url:'/home/getCodeMessage',
            data:{},
            success:function (res) {
//                   console.log(re.rsesult);
//                   s=HweOKK2CcM1vCDtAm6/Mg5hN2YzX+F1zCh3XnBein57xfoiF7UemhSlnzzWDr9w/pBaHrZBo1XzPS05NV/PJ948=&o=id:18419&id=18419&a=1BtvWKc9bdReVcP74WngsmuRiJrkjUiBNc
                let codeMessage = `s=${res.result.signMessage}&o=${res.result.originMessage}&a=${res.result.address}`;
                console.log(codeMessage);
                createCode(codeMessage)
            },
            error:function (error) {
                console.log(error);
            }
        })
    }

    //生成二维码
    function createCode(message) {
//        let url = 'https://nrc.one/codeT'

        let url02 = 'https://reitschain.com/co'
//        $('#codeContainer').append("<div id='code"+index+"'></div>")
//        $('#code'+index).text(`${url02}?${message}` )
        $('#code').empty();
//        $('#code').qrcode({
//            render:"canvas",
//            width:100,
//            height:100,
//            text:`${url02}?${message}`
//        })
        $('#code').qrcode(`${url02}?${message}`)
        getCanvas();
    }

    function convertCanvasToImage(canvas) {

        var image = new Image();

        image.src = canvas.toDataURL("image/png");
        image.className = 'codeImg'
        return image;
    }
    function getCanvas() {
        var mycanvas1=document.getElementsByTagName('canvas')[0];

        var img=convertCanvasToImage(mycanvas1);
        $('#code').append(img);
    }

    //2018-10-11 by zhaojia
    //请求微信头像方法
    function getWxperson(start,length) {
        var imgcontainer = document.getElementsByClassName("userImgItem")[0];
        var resultLength ;
        $.ajax({
            method:'get',
            url:'/home/getWxperson?start='+start+'&length='+length,
            success:function (data) {

                data.result.forEach(function(param){
                    var img = document.createElement("img");
                    img.src = param.url;
                    img.alt='头像';
                    img.className = "userImg";
                    imgcontainer.append(img)
                })
                allength = data.length;
//              return allength
            },
            error:function (error) {
                console.log(error,111);
            }
        })
    }

    //给页面绑定滑轮滚动事件
    var page=1; //当前第几页
    var finished=0;
    var sover=0;
    var imglength = 60 //每页显示条数据
    var maxpage;
    //如果屏幕未到整屏自动加载下一页补满
    var setdefult=setInterval(function (){
        if(sover==1)
            clearInterval(setdefult);
        else if($(".userCheck").height()+$(".imgContainer").height()+40 <$(window).height())
            loadmore($(window));
        else
            clearInterval(setdefult);
    },500);

    //加载完
    function loadover(){
        if(sover==1)
        {
            var overtext="已加载全部";
            $(".loadmore").remove();
            if($(".loadover").length>0)
            {
                $(".loadover span").eq(0).html(overtext);
            }
            else
            {
                var txt='<div class="loadover"><span>'+overtext+'</span></div>'
                $("body").append(txt);
            }
        }
    }

    //加载更多
    var vid=0;
    function loadmore(obj){
        if(finished==0 && sover==0)
        {
            var scrollTop = $(obj).scrollTop();
            var scrollHeight = $(document).height();
            var windowHeight = $(obj).height();

            if($(".loadmore").length==0)
            {
                var txt='<div class="loadmore"><span class="loading"></span></div>'
                $("body").append(txt);
            }

            if (scrollTop + windowHeight -scrollHeight<=50 ) {
                //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
                //防止未加载完再次执行
                finished=1;

                setTimeout(function(){
                    //$(".loadmore").remove();
                    var start=0;
                    if(page===1){
                        start = 0
                    }else{
                        start = page*imglength-1
                    }
                    getWxperson(start,imglength)
                    page+=1;
                    finished=0;
                    //最后一页
                    if (allength%imglength>0) {
                        maxpage = parseInt(allength/imglength)+1
                    } else{
                        maxpage = parseInt(allength/imglength)
                    }
                    if(page==maxpage)
                    {
                        sover=1;
                        loadover();
                    }
                },1000);

            }
        }
    }
    //页面滚动执行事件
    $(window).scroll(function (){
        loadmore($(this));
    });
    //tips
    function getRandom(a,b){
        var random = Math.floor(Math.random()*b+a);
        return random;
    }
    var tips = ['这张二维码具有区块链级别的安全性','这种二维码未来将会和产品包装在一起销售','扫一扫，真货将会获得厂家发行的区块链积分','扫码既防伪，不再有钱包，密钥，12字符的困扰','获得厂家积分，可以打折，促销，参加厂家的各种活动']
    function getTips() {
        var itemRandom = getRandom(0,tips.length);
        var item = tips[itemRandom];
        $('#tips').text(item);
    }
    $('#confirmPsd').click(function () {
        let psd = $('#psd').val();
        console.log(psd)
        if(psd === 'cocode'){
            $('.imgContainerCover').css('display','none');
        }else {
            alert('不对');
        }
    })
</script>
</body>

</html>